/* Header */
.header-container {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    width: 4rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    column-gap: 1.25rem;
    font-weight: 600;
}

.list li {
    position: relative;
    padding: 0.5rem 1rem;
}

/* Form */
.form-section {
    padding: 2.5rem 1.5rem;
}

.form-container {
    width: 100%;
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
}

.form-title {
    margin-bottom: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    color: #0D2436;
}

.form-group {
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
    width: 100%;
}

.form-label {
    display: block;
    font-weight: 600;
    color: #5a7184;
}

.form-input {
    display: block;
    padding: 1rem 1.25rem;
    margin-top: 0.75rem;
    border-radius: 0.5rem;
    border-width: 1px;
    outline-style: none;
    font-weight: 600;
    color: #0D2436;
}


.forgot-password {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #1565D8;
}

#form button {
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #1565D8;
}

.mgs {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #5a7184;
}

.sign-up {
    color: #1565D8;
}

/* .form-group .error {
    color: #ff3860;
    font-size: 0.5rem;
    height: 0.8rem;
} */


/* Footer */

.footer-container {
    display: grid;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    column-gap: 1.25rem;
    row-gap: 2.5rem;
    background: #0D2436;
}

.footer-group {
    grid-column: span 5 / span 5;
}

.footer-group h3 {
    font-weight: 700;
    color: #5A7184;
}

.footer-icon {
    grid-column: span 10 / span 10;
}

.footer-icon p {
    margin-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    color: #5A7184;
}

.copyright {
    display: none;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
}

.copyright p {
    font-style: italic;
    font-weight: 700;
    color: #5A7184;
}

@media (min-width: 768px) {
    .footer-container {
        padding-top: 5rem;
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .footer-group {
        grid-column: span 4 / span 4;
    }

    .footer-group h3 {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .footer-group ul {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .footer-icon {
        order: -9999;
        grid-column: span 4 / span 4;
    }

    .footer-icon img {
        margin-left: 0;
        margin-right: 0;
    }

    .footer p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .copyright {
        display: flex;
        grid-column: span 12 / span 12;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(10, minmax(0, 1fr));
        column-gap: 2.5rem;
    }

    .footer-group {
        grid-column: span 2 / span 2;
    }

    .footer-icon {
        grid-column: span 2 / span 2
    }

    .footer-icon p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .copyright {
        grid-column: span 10 / span 10;
    }
}